.join-button-container {
  padding: 10px 0; /* Espacio arriba y abajo del botón */
}
.join-event-button {
  background-color: #00FF00; /* Verde brillante */
  color: black;
  border: none;
  border-radius: 8px; /* O más redondeado si prefieres */
  padding: 15px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.join-event-button:hover {
  background-color: #00cc00;
}